html {
    font-size: 100px;
}
@media screen and (min-width: 375px) {
    html {
        font-size: 117.1875px;
    }
}
@media screen and (min-width: 414px) {
    html {
        font-size: 129.375px;
    }
}
